<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>


            <section class="banner">
                <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
            </section>


            <main>
                <h3>Detalle de Producto</h3>
                <section class="ultima-visita">
                    <div class="articulo">
                        <h1>
                            <%= product.name %>
                        </h1>
                        <h2>$ <%= product.price %>
                        </h2>
                        <p>
                            <%= product.descuento %>
                        </p>
                        <figure class="image">
                            <img src="/images/<%= product.image %>" alt="" class="product_img">
                        </figure>
                      
                        <a href="/products/<%= product.id %>/edit" class="button is-success">Editar</a>

                        <form class="form is-inline" action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="button is-danger">Borrar</button>
                        </form>

                    </div>


                </section>





            </main>
            <%- include('partials/footer') %>


    </body>

</html>